# <span style = "color:brown"> PANDAS HWK2 </span>

### Filtering : Euro12

In [1]:
import numpy as np
import pandas as pd

In [2]:
euro12 = pd.read_csv("https://raw.githubusercontent.com/jokecamp/FootballData/master/Euro%202012/Euro%202012%20stats%20TEAM.csv")

In [3]:
euro12.head()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19

### 1. Select the Goals column

In [4]:
euro12['Goals'].head()

0    4
1    4
2    4
3    5
4    3
Name: Goals, dtype: int64

### 2. How many teams participated in the Euro2012

In [6]:
# euro12.shape[0] works too, will give the number of observations
euro12.Team.nunique() # the number of unique teams,

16

### 3. What is the number of columns?

In [7]:
# euro12.info() can give you an overall idea of the dataset, works too
# euro12.shape[1] works too
euro12.shape # 35

(16, 35)

### 4. View only the columns Team, Yellow Cards and Red Cards and assign them to a dataframe called discipline

In [9]:
discipline = euro12[['Team','Yellow Cards','Red Cards']]

In [10]:
discipline.head()

             Team  Yellow Cards  Red Cards
0         Croatia             9          0
1  Czech Republic             7          0
2         Denmark             4          0
3         England             5          0
4          France             6          0

### 5. Sort the teams by Red Cards, then to Yellow Cards

In [12]:
discipline.sort_values(['Red Cards','Yellow Cards'])

                   Team  Yellow Cards  Red Cards
2               Denmark             4          0
5               Germany             4          0
3               England             5          0
8           Netherlands             5          0
15              Ukraine             5          0
4                France             6          0
12               Russia             6          0
1        Czech Republic             7          0
14               Sweden             7          0
0               Croatia             9          0
13                Spain            11          0
10             Portugal            12          0
7                 Italy            16          0
11  Republic of Ireland             6          1
9                Poland             7          1
6                Greece             9          1

### 6. Calculate the mean Yellow Cards given per Team

In [31]:
# discipline.groupby("Team")["Yellow Cards"].mean() WRONG
round(discipline['Yellow Cards'].mean())

7

### 7. Filter teams that scored more than 6 goals

In [17]:
euro12.loc[euro12.Goals > 6,["Team","Goals"]]

       Team  Goals
5   Germany     10
13    Spain     12

### 8. Select the teams that start with G

In [22]:
euro12.loc[euro12.Team.str.startswith("G"),"Team"] # startswith() NOT startwith()

5    Germany
6     Greece
Name: Team, dtype: object

### 9. Select the first seven columns

In [23]:
euro12.head()

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards,Subs on,Subs off,Players Used
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,13,81.3%,41,62,2,9,0,9,9,16
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,9,60.1%,53,73,8,7,0,11,11,19
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,10,66.7%,25,38,8,4,0,7,7,15
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,22,88.1%,43,45,6,5,0,11,11,16
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,6,54.6%,36,51,5,6,0,11,11,19

In [25]:
euro12.iloc[:,0:7].head() # iloc works like list slicing in python, while loc is inclusive

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked)
0,Croatia,4,13,12,51.9%,16.0%,32
1,Czech Republic,4,13,18,41.9%,12.9%,39
2,Denmark,4,10,10,50.0%,20.0%,27
3,England,5,11,18,50.0%,17.2%,40
4,France,3,22,24,37.9%,6.5%,65

### 10. Select all columns except the last 3.

In [26]:
euro12.iloc[:,0:-3].head() # always use your list slicing knowledge when dealing with iloc

,Team,Goals,Shots on target,Shots off target,Shooting Accuracy,% Goals-to-shots,Total shots (inc. Blocked),Hit Woodwork,Penalty goals,Penalties not scored,...,Clean Sheets,Blocks,Goals conceded,Saves made,Saves-to-shots ratio,Fouls Won,Fouls Conceded,Offsides,Yellow Cards,Red Cards
0,Croatia,4,13,12,51.9%,16.0%,32,0,0,0,...,0,10,3,13,81.3%,41,62,2,9,0
1,Czech Republic,4,13,18,41.9%,12.9%,39,0,0,0,...,1,10,6,9,60.1%,53,73,8,7,0
2,Denmark,4,10,10,50.0%,20.0%,27,1,0,0,...,1,10,5,10,66.7%,25,38,8,4,0
3,England,5,11,18,50.0%,17.2%,40,0,0,0,...,2,29,3,22,88.1%,43,45,6,5,0
4,France,3,22,24,37.9%,6.5%,65,1,0,0,...,1,7,5,6,54.6%,36,51,5,6,0

### 11. Present only the Shooting Accuracy from England, Italy and Russia

In [28]:
# LONG WAY
euro12.loc[(euro12.Team == "England")|(euro12.Team == "Italy")|(euro12.Team == "Russia"),["Team","Shooting Accuracy" ]]

       Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%

In [29]:
# SHORT WAY
euro12.loc[euro12.Team.isin(["England","Italy","Russia"]),["Team","Shooting Accuracy"]]

       Team Shooting Accuracy
3   England             50.0%
7     Italy             43.0%
12   Russia             22.5%