# <span style = "color:brown"> PANDAS HWK2 </span>

### Filtering : Chipotle

In [1]:
import numpy as np
import pandas as pd

In [41]:
chipo = pd.read_table("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv")

#### What is the price of each item

print a data frame with only two columns item_name and item_price

In [4]:
chipo[['item_name','item_price']]

                                  item_name item_price
0              Chips and Fresh Tomato Salsa     $2.39
1                                      Izze     $3.39
2                          Nantucket Nectar     $3.39
3     Chips and Tomatillo-Green Chili Salsa     $2.39
4                              Chicken Bowl    $16.98
5                              Chicken Bowl    $10.98
6                             Side of Chips     $1.69
7                             Steak Burrito    $11.75
8                          Steak Soft Tacos     $9.25
9                             Steak Burrito     $9.25
10                      Chips and Guacamole     $4.45
11                     Chicken Crispy Tacos     $8.75
12                       Chicken Soft Tacos     $8.75
13                             Chicken Bowl    $11.25
14                      Chips and Guacamole     $4.45
15    Chips and Tomatillo-Green Chili Salsa     $2.39
16                          Chicken Burrito     $8.49
17                          Chicken Burrito     $8.49
18                              Canned Soda     $2.18
19                             Chicken Bowl     $8.75
20                      Chips and Guacamole     $4.45
21                         Barbacoa Burrito     $8.99
22                         Nantucket Nectar     $3.39
23                          Chicken Burrito    $10.98
24                                     Izze     $3.39
25             Chips and Fresh Tomato Salsa     $2.39
26                             Chicken Bowl     $8.49
27                         Carnitas Burrito     $8.99
28                              Canned Soda     $1.09
29                          Chicken Burrito     $8.49
...                                     ...        ...
4592                       Barbacoa Burrito    $11.75
4593                          Carnitas Bowl    $11.75
4594                          Barbacoa Bowl    $11.75
4595                           Chicken Bowl     $8.75
4596                    Chips and Guacamole     $4.45
4597                      Canned Soft Drink     $1.25
4598                          Bottled Water     $1.50
4599                           Chicken Bowl     $8.75
4600                    Chips and Guacamole     $4.45
4601                      Canned Soft Drink     $1.25
4602                       Barbacoa Burrito     $9.25
4603                       Barbacoa Burrito     $9.25
4604                           Chicken Bowl     $8.75
4605                    Chips and Guacamole     $4.45
4606                      Canned Soft Drink     $1.25
4607                          Steak Burrito    $11.75
4608                         Veggie Burrito    $11.25
4609                      Canned Soft Drink     $1.25
4610                          Steak Burrito    $11.75
4611                         Veggie Burrito    $11.25
4612                          Carnitas Bowl     $9.25
4613                                  Chips     $2.15
4614                          Bottled Water     $1.50
4615                     Chicken Soft Tacos     $8.75
4616                    Chips and Guacamole     $4.45
4617                          Steak Burrito    $11.75
4618                          Steak Burrito    $11.75
4619                     Chicken Salad Bowl    $11.25
4620                     Chicken Salad Bowl     $8.75
4621                     Chicken Salad Bowl     $8.75

[4622 rows x 2 columns]

#### Sort by the name of the item

In [46]:
#chipo.sort_values(by="item_name") # looks nice and returns a dataframe
chipo.item_name.sort_values() # Most used approach returns a series as you can check below
print(type(chipo.sort_values(by="item_name")))
print(type(chipo.item_name.sort_values()))

<class 'pandas.core.frame.DataFrame'>
<class 'pandas.core.series.Series'>

#### What was the quantity of the most expensive item ordered?

In [42]:
# ANOTHER WAY OF TRANSFORMING PRICE INTO FLOAT
# clean the item_price column and transform it in a float
chipo.item_price = [float(value[1 : -1]) for value in chipo.item_price]
print(chipo.dtypes)

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [34]:
# MY WAY OF TRANSFORMING PRICE INTO FLOAT 
print(chipo.dtypes)
type(chipo.item_price.str.replace("$","")) # series
chipo['item_price'] = chipo.item_price.str.replace("$","").astype(float)
print(chipo.dtypes)

order_id               int64
quantity               int64
item_name             object
choice_description    object
item_price            object
dtype: object
order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

In [35]:
chipo.loc[chipo.item_price == chipo.item_price.max(),["item_name","quantity","item_price"]]

                         item_name  quantity  item_price
3598  Chips and Fresh Tomato Salsa        15       44.25

In [38]:
chipo.loc[chipo.item_price == chipo.item_price.max(),"quantity"]

3598    15
Name: quantity, dtype: int64

####  How many times were a Veggie Salad Bowl ordered?

In [28]:
chipo.loc[chipo.item_name == "Veggie Salad Bowl"].head() # count() is a series and df method

,order_id,quantity,item_name,choice_description,item_price
186,83,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
295,128,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$11.25
455,195,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Rice,...",$11.25
496,207,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Rice, Lettuce, Guacamole...",$11.25
960,394,1,Veggie Salad Bowl,"[Fresh Tomato Salsa, [Fajita Vegetables, Lettu...",$8.75

In [24]:
chipo.loc[chipo.item_name == "Veggie Salad Bowl","item_name"].count()

18

#### How many times people orderd more than one Canned Soda

In [29]:
chipo.loc[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1)].head()

     order_id  quantity    item_name choice_description item_price
18          9         2  Canned Soda           [Sprite]     $2.18
51         23         2  Canned Soda     [Mountain Dew]     $2.18
162        73         2  Canned Soda        [Diet Coke]     $2.18
171        76         2  Canned Soda  [Diet Dr. Pepper]     $2.18
350       150         2  Canned Soda        [Diet Coke]     $2.18

In [30]:
chipo.loc[(chipo.item_name == "Canned Soda") & (chipo.quantity > 1) , "item_name"].count()

20