# <span style = "color : brown"> PANDAS HWK 1 </span>

### Getting and Knowing your data: Chipotle

#### 1. Import the required libraries

In [2]:
import numpy as np
import pandas as pd

#### 2. Read the dataset

In [3]:
chipo = pd.read_table("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv")

#### 3. Check the 10 entries of the dataset

In [5]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

#### 4. How many observations and variables does this dataste have?

In [6]:
chipo.shape # the dataset has 4622 observations and five columns
# Other alternative: nb_obs = chipo.shape[0], nb_var = chipo.shape[1]

(4622, 5)

#### 5. Print the name of the colums

In [7]:
print(chipo.columns)

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

#### 6. How is the dataset indexed ?

In [8]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

#### 7. Which item is the most ordered?

In [4]:
chipo['item_name'].value_counts().head() # the most ordered item is Chicken Bowl. WORK BUT BELOW IS MOST EFFICIENT
chipo.item_name.value_counts().head(1)

Chicken Bowl    726
Name: item_name, dtype: int64

#### 8. Which items were most ordered in the description column?

In [19]:
chipo.choice_description.value_counts().head() # diet coke was the most ordered item in the description column

[Diet Coke]                                                                          134
[Coke]                                                                               123
[Sprite]                                                                              77
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Lettuce]]                42
[Fresh Tomato Salsa, [Rice, Black Beans, Cheese, Sour Cream, Guacamole, Lettuce]]     40
Name: choice_description, dtype: int64

#### 9. How many items were ordered in total?

In [60]:
chipo['item_name'].value_counts().sum() # WRONG, you can see the solution below
# Solution
total_ordered_items = chipo.quantity.sum()
total_ordered_items

4972

#### 10. Convert the item_price into a float

In [32]:
# Check item type first
print(chipo['item_price'].dtype)

# Now convert to flaot
print(chipo.item_price.head())

# Remove the dolloar sign 
chipo['item_price'] = chipo.item_price.str.replace("$","")

float64
0     2.39
1     3.39
2     3.39
3     2.39
4    16.98
Name: item_price, dtype: float64

In [38]:
chipo.item_price = chipo.item_price.astype("float")
chipo.dtypes # think about dtypes as you want to see the plural,all data types in the dataset

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

#### 11. How much was the revenue for the period in the dataset?

In [40]:
chipo.head()
chipo['item_price'].sum()

34500.16000000046

#### 12. How many orders were made in the period?

In [44]:
print(chipo.columns)
chipo.order_id.nunique() # they were 1834 unique orders.

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

1834

#### 13. What is the average amount per order?

In [65]:
# This first calculation will help me check my result

# chipo['item_price'].groupby(by = chipo.order_id).mean()
# average amout per order is the sum of all orders divided by the number of orders
avg_amount_per_order = chipo['item_price'].sum()/chipo.order_id.nunique()
avg_amount_per_order

18.811428571428824

In [75]:
total_amount_per_order = chipo['item_price'].groupby(by = chipo['order_id']).sum()
print(type(total_amount_per_order)) # the total amount for each order.
print(total_amount_per_order[:10]) # the average amount per order will be the mean of this series of prices.
average_amount_per_order = total_amount_per_order.mean()
print("the average amount per order is ${}".format(average_amount_per_order))

<class 'pandas.core.series.Series'>
order_id
1     11.56
2     16.98
3     12.67
4     21.00
5     13.70
6     17.50
7     15.70
8     10.88
9     10.67
10    13.20
Name: item_price, dtype: float64
the average amount per order is $18.81142857142869

#### 14. How many different items are sold?

In [54]:
chipo['item_name'].nunique() # they sold 50 different items

50