# <span style = "color:brown"> PANDAS HWK3 </span>

### Grouping : occupation

In [3]:
import numpy as np
import pandas as pd

In [5]:
users = pd.read_table("https://raw.githubusercontent.com/justmarkham/DAT8/master/data/u.user", sep = "|", index_col = "user_id")

In [6]:
users.head()

         age gender  occupation zip_code
user_id
1         24      M  technician    85711
2         53      F       other    94043
3         23      M      writer    32067
4         24      M  technician    43537
5         33      F       other    15213

#### What is the mean age per occupation?

In [11]:
users.groupby("occupation").age.mean()

occupation
administrator    38.746835
artist           31.392857
doctor           43.571429
educator         42.010526
engineer         36.388060
entertainment    29.222222
executive        38.718750
healthcare       41.562500
homemaker        32.571429
lawyer           36.750000
librarian        40.000000
marketing        37.615385
none             26.555556
other            34.523810
programmer       33.121212
retired          63.071429
salesman         35.666667
scientist        35.548387
student          22.081633
technician       33.148148
writer           36.311111
Name: age, dtype: float64

#### What is the ratio of man per occupation and sort it from the most to the least?

In [32]:
# LONG WAY
# ratio of men = nb men/total-nb men = nb men/nb female.
# list cannot to element wise operation, so will use numpy arrays for that.

# value_counts() has some kind of sorting so we cannot use it.
# check the type to see if it's a series
type(users.loc[users.gender == "M"].groupby("occupation").occupation.count())
nb_male_per_occup = users.loc[users.gender == "M"].groupby("occupation").occupation.count()
print(nb_male_per_occup.index)
print(nb_male_per_occup.values)

# number of people per occupation, it's a series too
nbr_of_people_per_occup = users.groupby("occupation").occupation.count()

Index(['administrator', 'artist', 'doctor', 'educator', 'engineer',
       'entertainment', 'executive', 'healthcare', 'homemaker', 'lawyer',
       'librarian', 'marketing', 'none', 'other', 'programmer', 'retired',
       'salesman', 'scientist', 'student', 'technician', 'writer'],
      dtype='object', name='occupation')
[ 43  15   7  69  65  16  29   5   1  10  22  16   5  69  60  13   9  28
 136  26  26]

In [44]:
# Transform both series into numpy array
nbr_male_per_occup = np.array(nb_male_per_occup)
nbr_of_people_per_occup = np.array(nbr_of_people_per_occup)
type(nbr_male_per_occup) # it's now a numpy array
type(nbr_of_people_per_occup)

# find ratio
nbr_female_per_occup = nbr_of_people_per_occup - nbr_male_per_occup
male_ratio = nbr_male_per_occup/nbr_female_per_occup
print(male_ratio)

[ 43  15   7  69  65  16  29   5   1  10  22  16   5  69  60  13   9  28
 136  26  26]
[36 13  0 26  2  2  3 11  6  2 29 10  4 36  6  1  3  3 60  1 19]
[  1.19444444   1.15384615          inf   2.65384615  32.5          8.
   9.66666667   0.45454545   0.16666667   5.           0.75862069   1.6
   1.25         1.91666667  10.          13.           3.           9.33333333
   2.26666667  26.           1.36842105]

C:\Users\ghisl\Anaconda3\lib\site-packages\ipykernel\__main__.py:11: RuntimeWarning: divide by zero encountered in true_divide

In [60]:
# AVERAGE WAY
num_of_male_per_occup = np.array(users.loc[users.gender == "M"].groupby("occupation").occupation.count())
num_of_people_per_occup = np.array(users.groupby("occupation").occupation.count())
num_of_female_per_occup = num_of_people_per_occup - num_of_male_per_occup
occup_list = users.loc[users.gender == "M"].groupby("occupation").occupation.count().index
[(occup_list[index],num_of_male_per_occup[index]/num_of_female_per_occup[index]) for index in range(len(occup_list))
if num_of_female_per_occup[index]]

C:\Users\ghisl\Anaconda3\lib\site-packages\ipykernel\__main__.py:6: RuntimeWarning: divide by zero encountered in longlong_scalars

[('administrator', 1.1944444444444444),
 ('artist', 1.1538461538461537),
 ('doctor', inf),
 ('educator', 2.6538461538461537),
 ('engineer', 32.5),
 ('entertainment', 8.0),
 ('executive', 9.6666666666666661),
 ('healthcare', 0.45454545454545453),
 ('homemaker', 0.16666666666666666),
 ('lawyer', 5.0),
 ('librarian', 0.75862068965517238),
 ('marketing', 1.6000000000000001),
 ('none', 1.25),
 ('other', 1.9166666666666667),
 ('programmer', 10.0),
 ('retired', 13.0),
 ('salesman', 3.0),
 ('scientist', 9.3333333333333339),
 ('student', 2.2666666666666666),
 ('technician', 26.0),
 ('writer', 1.368421052631579)]

In [13]:
# SHORT WAY
# ratio of men = nb men/total-nb men = nb men/nb female.
num_men_by_occup = users.loc[users.gender == "M"].groupby(by = "occupation").occupation.count()
num_people_by_occup = users.groupby("occupation").occupation.count()

ratio_men = num_men_by_occup.div((num_people_by_occup - num_men_by_occup))
ratio_men

occupation
administrator     1.194444
artist            1.153846
doctor                 inf
educator          2.653846
engineer         32.500000
entertainment     8.000000
executive         9.666667
healthcare        0.454545
homemaker         0.166667
lawyer            5.000000
librarian         0.758621
marketing         1.600000
none              1.250000
other             1.916667
programmer       10.000000
retired          13.000000
salesman          3.000000
scientist         9.333333
student           2.266667
technician       26.000000
writer            1.368421
Name: occupation, dtype: float64

#### What is the number of men per occupation and sort it from the most to the least?

In [35]:
users.loc[users.gender == "M",:].groupby('occupation').gender.count().sort_values(ascending = False).head()

occupation
student       136
educator       69
other          69
engineer       65
programmer     60
Name: gender, dtype: int64

In [22]:
# users.loc[users.gender == "M"] ---> a data frame where gender is only male
users.loc[users.gender == "M",'occupation'].value_counts().sort_values(ascending = False).head()

student       136
other          69
educator       69
engineer       65
programmer     60
Name: occupation, dtype: int64

#### For each occupation calculate the minimum and maximum age

In [53]:
users.groupby("occupation").agg({'age':['min','max']}).head()

              age
              min max
occupation
administrator  21  70
artist         19  48
doctor         28  64
educator       23  63
engineer       22  70

In [55]:
users.groupby("occupation").age.agg(['min','max']).head()

               min  max
occupation
administrator   21   70
artist          19   48
doctor          28   64
educator        23   63
engineer        22   70

#### For each combination of occupation and gender calculate the mean age

In [40]:
users.groupby(by = ['occupation','gender']).age.mean().head()

occupation     gender
administrator  F         40.638889
               M         37.162791
artist         F         30.307692
               M         32.333333
doctor         M         43.571429
Name: age, dtype: float64

#### For each occupation present the percentage of women and men

In [90]:
# LONG WAY
# Retry all the dict homework as well as the file homework
num_of_male_per_occup = np.array(users.loc[users.gender == "M"].groupby("occupation").occupation.count())
num_of_people_per_occup = np.array(users.groupby("occupation").occupation.count())
num_of_female_per_occup = num_of_people_per_occup - num_of_male_per_occup
occup_list = users.loc[users.gender == "M"].groupby("occupation").occupation.count().index

pct_occup_by_gender = {}
gender_dict = {}
for index, occupation in enumerate(occup_list):
    for gender in users.gender.unique():
        if gender == "M":
            pct_occup_by_gender[occupation] = {gender:(num_of_male_per_occup[index]/num_of_people_per_occup[index])*100}
        else:
            # add the female key to the existing dict
            pct_occup_by_gender[occupation][gender]= (num_of_female_per_occup[index]/num_of_people_per_occup[index])*100

pct_occup_by_gender

{'administrator': {'F': 45.569620253164558, 'M': 54.430379746835442},
 'artist': {'F': 46.428571428571431, 'M': 53.571428571428569},
 'doctor': {'F': 0.0, 'M': 100.0},
 'educator': {'F': 27.368421052631582, 'M': 72.631578947368425},
 'engineer': {'F': 2.9850746268656714, 'M': 97.014925373134332},
 'entertainment': {'F': 11.111111111111111, 'M': 88.888888888888886},
 'executive': {'F': 9.375, 'M': 90.625},
 'healthcare': {'F': 68.75, 'M': 31.25},
 'homemaker': {'F': 85.714285714285708, 'M': 14.285714285714285},
 'lawyer': {'F': 16.666666666666664, 'M': 83.333333333333343},
 'librarian': {'F': 56.862745098039213, 'M': 43.137254901960787},
 'marketing': {'F': 38.461538461538467, 'M': 61.53846153846154},
 'none': {'F': 44.444444444444443, 'M': 55.555555555555557},
 'other': {'F': 34.285714285714285, 'M': 65.714285714285708},
 'programmer': {'F': 9.0909090909090917, 'M': 90.909090909090907},
 'retired': {'F': 7.1428571428571423, 'M': 92.857142857142861},
 'salesman': {'F': 25.0, 'M': 75.0},
 'scientist': {'F': 9.67741935483871, 'M': 90.322580645161281},
 'student': {'F': 30.612244897959183, 'M': 69.387755102040813},
 'technician': {'F': 3.7037037037037033, 'M': 96.296296296296291},
 'writer': {'F': 42.222222222222221, 'M': 57.777777777777771}}

### SHORT AND SMART WAY (use div function)

- .div(other, axis='columns', level=None, fill_value=None): 
Floating division of dataframe and other, element-wise (binary operator `truediv`).

In [94]:
# create dataset gender occup
gender_occup = users.groupby(by = ['occupation','gender']).occupation.count()
occup_count = users.groupby("occupation").occupation.count()
print(type(gender_occup),type(occup_count))
gender_occup.div(occup_count)

<class 'pandas.core.series.Series'> <class 'pandas.core.series.Series'>

occupation     gender
administrator  F         0.455696
               M         0.544304
artist         F         0.464286
               M         0.535714
doctor         M         1.000000
educator       F         0.273684
               M         0.726316
engineer       F         0.029851
               M         0.970149
entertainment  F         0.111111
               M         0.888889
executive      F         0.093750
               M         0.906250
healthcare     F         0.687500
               M         0.312500
homemaker      F         0.857143
               M         0.142857
lawyer         F         0.166667
               M         0.833333
librarian      F         0.568627
               M         0.431373
marketing      F         0.384615
               M         0.615385
none           F         0.444444
               M         0.555556
other          F         0.342857
               M         0.657143
programmer     F         0.090909
               M         0.909091
retired        F         0.071429
               M         0.928571
salesman       F         0.250000
               M         0.750000
scientist      F         0.096774
               M         0.903226
student        F         0.306122
               M         0.693878
technician     F         0.037037
               M         0.962963
writer         F         0.422222
               M         0.577778
Name: occupation, dtype: float64

**NB:** in a groupby, the variable to do the groupby on is categorical or sometimes discrete (age, occupation) or a combination of discrete and continuous variable. the variable to be found most of the times is either continuous or discrete(age, price).

- every time you perform a calculation and you are not sure of the output, wrap the type fct around it