In [1]:
import pandas as pd
import requests
from bs4 import BeautifulSoup as BS

In [2]:
url = 'https://www.forbes.com/sites/grantmartin/2016/05/14/the-best-u-s-airlines-for-customer-satisfaction/#74b77b681278'

In [3]:
page = requests.get(url)
page.status_code

In [5]:
soup = BS(page.content,'html.parser')

In [36]:
airline_type = soup.body.find_all('ol')
airline_type

[<ol>
 <li>Alaska Airlines (751)</li>
 <li>Delta Air Lines (725)</li>
 <li>American Airlines (693)</li>
 <li>Air Canada (681)</li>
 <li>United Airlines (675)</li>
 </ol>, <ol>
 <li>JetBlue Airways (790)</li>
 <li>Southwest Airlines (789)</li>
 <li>WestJet (723)</li>
 <li>Frontier Airlines (662)</li>
 </ol>]

In [73]:
# the first loop iterate over the ol elt and the second iterate over each li in one ol elt
airlines = [airline.get_text() for at in airline_type for airline in at.find_all('li')]
airlines

['Alaska Airlines (751)',
 'Delta Air Lines (725)',
 'American Airlines (693)',
 'Air Canada (681)',
 'United Airlines (675)',
 'JetBlue Airways (790)',
 'Southwest Airlines (789)',
 'WestJet (723)',
 'Frontier Airlines (662)']

In [74]:
# Create airlines and customer satisfaction scores
Airline_Names = []
Customer_Satisfaction_Score = []
for item in airlines:
    item_list = item.split("(")
    Airline_Names.append(item_list[0].strip())
    Customer_Satisfaction_Score.append(item_list[1].strip(")"))
    

print(Airline_Names)
print(Customer_Satisfaction_Score)

['Alaska Airlines', 'Delta Air Lines', 'American Airlines', 'Air Canada', 'United Airlines', 'JetBlue Airways', 'Southwest Airlines', 'WestJet', 'Frontier Airlines']
['751', '725', '693', '681', '675', '790', '789', '723', '662']

In [62]:
df = pd.DataFrame({'Airlines': Airline_Names,
                  'Score': Customer_Satisfaction_Score})
df['Score'] = df.Score.astype('int64')
df.dtypes

In [75]:
df

             Airlines  Score
0     Alaska Airlines    751
1     Delta Air Lines    725
2   American Airlines    693
3          Air Canada    681
4     United Airlines    675
5     JetBlue Airways    790
6  Southwest Airlines    789
7             WestJet    723
8   Frontier Airlines    662